* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

div {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-block;
    margin: 5vh 3%;
}

.ball1 {
    background: linear-gradient(113deg, rgba(18, 121, 9, 1) 50%, rgba(158, 0, 255, 1) 50%);
}

.ball2 {
    background: linear-gradient(113deg, rgba(9, 40, 121, 1) 50%, rgba(253, 255, 0, 1) 50%);
}

.ball3 {
    background: linear-gradient(113deg, rgba(0, 0, 0, 1) 50%, rgba(255, 136, 0, 1) 50%);
}

.ball4 {
    background: linear-gradient(113deg, rgba(7, 85, 246, 1) 50%, rgba(0, 200, 255, 1) 50%);
}
